.img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.titleBox {
  /* overflow: hidden;
  max-width: 100%; */
  height: 54px;
  font-size: 22px;
  padding: 8px 16px;
  color: wheat;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #6866663c;
  border-right: 1px solid #6866663c;
  border-left: 1px solid #6866663c;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media screen and (min-width: 768px) {
  .titleBox {
    font-size: 18px;
  }
}

@media screen and (min-width: 1158px) {
  .titleBox {
    font-size: 18px;
  }
}

.item {
  transition: transform 250ms ease-in-out;
}

.item:hover,
.item:focus {
  transform: scale(1.03);
}
